@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blur-right-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.blur-right-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: blur(5px);
  pointer-events: none;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left {
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.slide-right {
  animation: slideInFromRight 0.3s ease-out forwards;
}

body {
  @apply bg-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header1 {
  @apply text-beige font-plus-jakarta-sans font-normal text-base leading-6;
}
.header2 {
  @apply text-beige font-plus-jakarta-sans font-normal text-base leading-6;
}
.header3 {
  @apply text-beige font-plus-jakarta-sans font-normal text-base leading-6;
}
.subtitle1 {
  @apply text-beige font-plus-jakarta-sans font-normal text-base leading-6;
}
.subtitle2 {
  @apply font-plus-jakarta-sans font-normal text-base leading-6;
}
.body1 {
  @apply font-plus-jakarta-sans font-normal text-base leading-6;
}

.buttonPrimary {
  @apply border-beige text-white bg-wine border rounded-lg p-3 font-plus-jakarta-sans font-normal text-base leading-6;
}

.buttonPrimary:hover {
  filter: brightness(1.2);
}

.buttonSecondary {
  @apply border-beige text-blackup font-plus-jakarta-sans font-normal text-base leading-6;
}

.buttonSecondary:hover {
  color: #c23a2e;
  transition: 0.3s;
}

.buttonTiny {
  @apply text-blackup font-plus-jakarta-sans font-normal text-base leading-6;
}

.imageProductDetail {
  @apply h-80 rounded;
}

.cardTeamImg {
  @apply w-20 h-20 border-2 border-wine;
  border-radius: 50%;
}

.placeholder {
  @apply text-gray-400 rounded border border-gray-400 outline-none px-2 hover:border-wine hover:ring-1 hover:ring-wine focus:border-wine focus:ring-2 focus:ring-wine transition duration-200;
}

.input-text {
  @apply text-black;
}
